
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

$background-color: #1a1a1a;
$text-color: #dddddd;
$hero-color: #138ee0;

@keyframes moveInBottom {
    0% {
        opacity: 0;
        transform: translateY(4rem)
    }
    100% {
        opacity: 1;
        transform: translateY(0)
    }
}
@keyframes moveInLeft {
    0% {
        opacity: 0;
        transform: translateX(-15rem);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes moveInRight {
    0% {
        opacity: 0;
        transform: translateX(15rem);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@import './global';

.home-container {
    display: flex;
    flex-direction: column;
}

.hero {
    position: relative;
    height: 100vh;
    display: flex;
    z-index: 1;
}

.particles-container {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    overflow: hidden;
    background-color: $background-color;
}

.main-background {
    position: fixed;
    height: 100vh;
    top: 0;
    width: 100%;
    z-index: -2;
}


.heading {
    margin: auto;
    text-align: center;
    z-index: 1;
    h1 {
        font-size: 5rem;
        font-weight: 400;
    }
    span {
        color: $hero-color;
    }
}

.heading-line-1 {
    animation-name: moveInLeft;
}

.heading-line-2 {
    animation-name: moveInRight;
}

.heading-line-1, 
.heading-line-2 {
    animation-duration: 1.9s;
    animation-timing-function: cubic-bezier(0.21, 1.11, 0.81, 0.99);
}


.hero-btn {
    position: relative;
    font-size: 2.2rem;
    line-height: 0;
    width: 20rem;
    height: 4.8rem;
    background-color: transparent;
    color: $hero-color;
    border: 5px solid $hero-color;
    border-radius: 2px;
    backdrop-filter: blur(2px);
    animation: moveInBottom 0.7s 0.7s;
    animation-fill-mode: backwards;
    animation-timing-function: cubic-bezier(0.21, 1.11, 0.81, 0.99);
    &::before, &::after {
        content: "";
        position: absolute;
        top: -5px;
        left: -5px;
        width: 20rem;
        height: 4.8rem;
        border-radius: 3px;
        border: 5px solid $hero-color;
        filter: blur(0);
        transform-origin: 50%;
        z-index: -1;
    }
    &:hover, &:focus {
        transform: translateY(-4px);
        &::before, &::after {
            border-color: transparent;
            filter: blur(6px);
            transform: scaleX(1.2) scaleY(1.7);
            transition: 800ms transform ease, 1900ms blur ease, 700ms border-color ease;
            pointer-events: none;
        }
        &::after {
            transition-delay: 250ms;
        }
    }
}

.navbar {
    overflow: hidden;
    position: sticky;
    display: block;
    top: 0;
    background-color: #333;
    height: 75px;
    display: flex;
    justify-content: space-evenly;
    z-index: 2;
    button {
        background-color: transparent;
        border: none;
        color: white;
        font-size: 1.4rem;
        font-weight: 500;
    }
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }

.section-heading {
    position: relative;
    font-size: 4rem;
    margin: 0 auto;
    margin-top: 2em;
}

section {
    background-color: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 4em;
}

.about {
    min-height: 900px;
}

.about-heading {
    &::before {
        position: absolute;
        content: "";
        border-bottom: 18px solid $hero-color;
        width: 10rem;
        margin: 0 auto;
        left: 2rem;
        top: 3.6rem;
        z-index: -1;
    }
}

.about-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    gap: 2em;
    text-align: center;
    flex-wrap: wrap;
    width: 100%;
    max-width: 1800px;
    vertical-align: middle;
    
}

.about-info {
    position: relative;
    margin-top: 3em;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    p {
        margin: 0;
        font-size: 1.4rem;
        width: 300px;
    }
}

.profile-img {
    width: 17rem;
    border-radius: 6px;
}

.skills {
    display: flex;
    justify-content: center;
    gap: 0.5em;
}

.skill-column-up, .skill-column-down {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.5em;
}

.logos {
    height: 50px;
}

.skill-item {
    position: relative;
    backdrop-filter: blur(0px);
    width: 90px;
    height: 110px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &::before {
        content: "";
        position: absolute;
        inset: 0;
        border-radius: 10px;
        border: 5px solid transparent;
        background: linear-gradient(45deg, #152c59, $hero-color) border-box;
        mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
        mask-composite: exclude;
    }
    p {
        margin: 0;
        margin-top: 0.5em;
        font-size: 1.1rem;
    }
}

.projects-section {
    display: flex;
    flex-direction: column;
    max-width: 1500px;
    width: 95%;
    margin: 0 auto;
    margin-bottom: 10em;
}

.projects-heading {
    &::before {
        position: absolute;
        content: "";
        border-bottom: 18px solid $hero-color;
        width: 13.5rem;
        margin: 0 auto;
        left: 2rem;
        top: 3.6rem;
        z-index: -1;
    }
}

.project {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 4rem;
}

.project-img-container {
    display: inline-block;
    display: flex;
    align-items: center;
    width: 24rem;
    height: 16rem;
    background-color: #152c59;
    transition: all 0.2s;
    &:hover {
        transform: scale(0.95);
    }

}

.project-img {
    width: 85%;
}

.project-text {
    display: flex;
    flex-direction: column;
    font-size: 1.4rem;
    .project-title {
        margin: 0;
        margin-top: 1em;
    }
    .project-description {
        margin: 0;
    }
    .project-links {
        display: flex;
        gap: 1em;
        font-weight: 500;
        margin-top: 1em;
    }
    a {
        display: inline-block;
        color: $text-color;
        text-decoration: none;
        div {
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: fit-content;
            padding: 0.8em 1.2em;
            background-color: $hero-color;
        }
        
    }
}

.project-align-right {
    align-items: flex-end;
    .project-img-container {
        justify-content: flex-end;
    }
    .project-text {
        align-items: flex-end;
        text-align: right;
    }
}

.contact {

}

@media screen and (min-width: 600px) {
    html {
        font-size: 14px;
    }

    .about-info {
        p {
            width: 400px;
        }
    }

    .project-img-container {
        width: 38.75rem;
        height: 25rem;
    }
}

@media screen and (min-width: 1000px) {
    html {
        font-size: 16px;
    }

    .navbar {
        justify-content: flex-end;
        button {
            margin-right: 2em;
        }
    }

    .about-content {
        flex-direction: row;
    }

    .about-info {
        left: -300px;
        opacity: 0;
        transition: all 1.1s;
        p {
            width: 500px;
        }
    }
    .about-info_fade-in {
        opacity: 1;
        transform: translateX(300px);
    }

    .skills {
        gap: 1.5em;
    }

    .skill-column-up, .skill-column-down {
        opacity: 0;
        transition: transform 1.7s, opacity 1s;
        gap: 1.5em;
    }

    .skill-column-up {
        bottom: -100px;
    }
    
    .skill-column-down {
        top: -100px;
    }

    .fade-up {
        opacity: 1;
        transform: translateY(-100px);
    }
    
    .fade-down {
        opacity: 1;
        transform: translateY(100px);
    }

    .skill-item {
        height: 130px;
        width: 200px;
    }

    .logos {
        height: 75px;
    }

    .project {
        flex-direction: row;
    }

    .project-img-container {
        width: 38.75rem;
        height: 25rem;
    }

    .project-text {
        margin-left: -2.5rem;
        z-index: 1;
        height: fit-content;
        .project-links  {
            flex-direction: column;
            font-size: 1.2rem;
        }
        a {
            div {
                background-color: transparent;
                margin-bottom: 0;
                &::after {
                    position: absolute;
                    content: "";
                    height: 2px;
                    background-color: $hero-color;
                    width: 100%;
                    bottom: 1px;
                    display: block;
                    transform-origin: bottom;
                    transition: all 0.25s;
                    z-index: -1;
                }
    
                &:hover::after {
                    height: 100%;
                }
            }
        }
    }

    .project-align-right {
        align-items: flex-start;
        flex-direction: row-reverse;
        .project-text {
            margin-right: -2.5rem;
            text-align: right;
            max-width: 750px;
            .project-links {
                align-items: flex-end;
            }
        }
    }
}

@media screen and (min-width: 1200px) {
    .about-content {
        flex-wrap: nowrap;
    }
}


@media screen and (min-width: 1500px) {

    .skill-item {
        height: 175px;
        width: 200px;
        &::before {
            border: 8px solid transparent;
        }
    }

    .logos {
        height: 100px;
    }

    .project-img-container {
        width: 46.5rem;
        height: 30rem;
    }
}

@media screen and (min-width: 1800px) {
    .skill-item {
        width: 250px;
    }
}