
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

$background-color: #1a1a1a;
$text-color: #dddddd;
$hero-color: #138ee0;

@keyframes moveInBottom {
    0% {
        opacity: 0;
        transform: translateY(4rem)
    }
    100% {
        opacity: 1;
        transform: translateY(0)
    }
}
@keyframes moveInLeft {
    0% {
        opacity: 0;
        transform: translateX(-15rem);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes moveInRight {
    0% {
        opacity: 0;
        transform: translateX(15rem);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@import './global';

.hero {
    position: relative;
    height: 100vh;
    display: flex;
    z-index: 1;
}

.particles-container {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    overflow: hidden;
    background-color: $background-color;
}

.main-background {
    position: fixed;
    height: 100vh;
    top: 0;
    width: 100%;
    z-index: -2;
}


.heading {
    margin: auto;
    text-align: center;
    z-index: 1;
    h1 {
        font-size: 5rem;
        font-weight: 400;
    }
    span {
        color: $hero-color;
    }
}

.heading-line-1 {
    animation-name: moveInLeft;
}

.heading-line-2 {
    animation-name: moveInRight;
}

.heading-line-1, 
.heading-line-2 {
    animation-duration: 1.9s;
    animation-timing-function: cubic-bezier(0.21, 1.11, 0.81, 0.99);
}


.hero-btn {
    position: relative;
    font-size: 2.2rem;
    line-height: 0;
    width: 20rem;
    height: 4.8rem;
    background-color: transparent;
    color: $hero-color;
    border: 5px solid $hero-color;
    border-radius: 2px;
    backdrop-filter: blur(2px);
    animation: moveInBottom 0.7s 0.7s;
    animation-fill-mode: backwards;
    animation-timing-function: cubic-bezier(0.21, 1.11, 0.81, 0.99);
    &::before, &::after {
        content: "";
        position: absolute;
        top: -5px;
        left: -5px;
        width: 20rem;
        height: 4.8rem;
        border-radius: 3px;
        border: 5px solid $hero-color;
        filter: blur(0);
        transform-origin: 50%;
        z-index: -1;
    }
    &:hover, &:focus {
        transform: translateY(-4px);
        &::before, &::after {
            border-color: transparent;
            filter: blur(6px);
            transform: scaleX(1.2) scaleY(1.7);
            transition: 800ms transform ease, 1900ms blur ease, 700ms border-color ease;
            pointer-events: none;
        }
        &::after {
            transition-delay: 250ms;
        }
    }
}

.navbar {
    overflow: hidden;
    position: sticky;
    display: block;
    top: 0;
    background-color: #333;
    height: 75px;
    display: flex;
    justify-content: space-evenly;
    z-index: 1;
    button {
        background-color: transparent;
        border: none;
        color: white;
        font-size: 1.4rem;
        font-weight: 500;
    }
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }

.section-heading {
    position: relative;
    font-size: 4rem;
    margin: 0 auto;
    margin-top: 2em;
}

.about {
    background-color: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    // width: 100%;
    min-height: 100vh;
    margin-bottom: 4em;
}

.about-heading {
    &::before {
        position: absolute;
        content: "";
        border-bottom: 18px solid $hero-color;
        width: 10rem;
        margin: 0 auto;
        left: 2rem;
        top: 3.6rem;
        z-index: -1;
    }
}

.about-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    gap: 2em;
    text-align: center;
    flex-wrap: wrap;
    width: 100%;
    max-width: 1800px;
}

.about-info {
    position: relative;
    margin-top: 3em;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    p {
        margin: 0;
        font-size: 1.4rem;
        width: 300px;
    }
}

.profile-img {
    width: 17rem;
    border-radius: 6px;
}

.skills {
    display: flex;
    justify-content: center;
    gap: 0.5em;
}

.skill-column-up, .skill-column-down {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.5em;
}

.logos {
    height: 50px;
}

.skill-item {
    position: relative;
    backdrop-filter: blur(0px);
    width: 90px;
    height: 110px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &::before {
        content: "";
        position: absolute;
        inset: 0;
        border-radius: 10px;
        border: 5px solid transparent;
        background: linear-gradient(45deg, #152c59, $hero-color) border-box;
        mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
        mask-composite: exclude;
    }
    p {
        margin: 0;
        margin-top: 0.5em;
        font-size: 1.1rem;
    }
}

.projects {
    height: 100vh;
    background-color: transparent;
    min-height: 100vh;
}

.contact {
    height: 50vh;
    background-color: transparent;
    min-height: 100vh;
}

@media screen and (min-width: 600px) {
    html {
        font-size: 14px;
    }

    .about-info {
        p {
            width: 400px;
        }
    }
}

@media screen and (min-width: 1000px) {
    html {
        font-size: 16px;
    }

    .navbar {
        justify-content: flex-end;
        button {
            margin-right: 2em;
        }
    }

    .about-content {
        flex-direction: row;
    }

    .about-info {
        left: -300px;
        opacity: 0;
        transition: all 1.1s;
        p {
            width: 500px;
        }
    }
    .about-info_fade-in {
        opacity: 1;
        transform: translateX(300px);
    }

    .skills {
        gap: 1.5em;
    }

    .skill-column-up, .skill-column-down {
        opacity: 0;
        transition: transform 1.7s, opacity 1s;
        gap: 1.5em;
    }

    .skill-column-up {
        bottom: -100px;
    }
    
    .skill-column-down {
        top: -100px;
    }

    .fade-up {
        opacity: 1;
        transform: translateY(-100px);
    }
    
    .fade-down {
        opacity: 1;
        transform: translateY(100px);
    }

    .skill-item {
        height: 130px;
        width: 200px;
    }

    .logos {
        height: 75px;
    }
}

@media screen and (min-width: 1200px) {
    .about-content {
        flex-wrap: nowrap;
    }
}


@media screen and (min-width: 1500px) {
    .about-content {
        // gap: 12em;
    }
    .skill-item {
        height: 175px;
        width: 200px;
        &::before {
            border: 8px solid transparent;
        }
    }

    .logos {
        height: 100px;
    }
}

@media screen and (min-width: 1800px) {
    // .skill-item {
    //     width: 250px;
    // }
}